flows.json
[{"id":"650bd8b6052efaad","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"406b824795f520b7","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"22e571e25ed8d12b","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":680,"wires":[[]]},{"id":"12375b6e029821ef","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"6b1b3acf7b0753bd","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":740,"wires":[[]]},{"id":"36fc6b02cfad6008","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"91bc105c2abc77c0","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":860,"wires":[[]]},{"id":"5b9999ea1eeab3cc","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"7b4e3fcee0502a31","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":980,"wires":[[]]},{"id":"3fd8f735f37c7f2e","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"f89f42096d86cd36","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1080,"wires":[[]]},{"id":"346e708557d2c9ac","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"4a345c93e211dfac","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":530,"y":640,"wires":[[]]},{"id":"d76cc10b1e405d71","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"463364a07f5211e9","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":530,"y":700,"wires":[[]]},{"id":"bb7abf8cfa816c63","type":"ui_button","z":"650bd8b6052efaad","name":"","group":"cec714bb4d5242b4","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":760,"wires":[[]]},{"id":"22e571e25ed8d12b","type":"ui_group","name":"Group 1","tab":"22b4ce47f3ca3922","order":1,"disp":true,"width":6},{"id":"6b1b3acf7b0753bd","type":"ui_group","name":"Group 2","tab":"22b4ce47f3ca3922","order":2,"disp":true,"width":6},{"id":"91bc105c2abc77c0","type":"ui_group","name":"Group 3","tab":"22b4ce47f3ca3922","order":3,"disp":true,"width":6},{"id":"7b4e3fcee0502a31","type":"ui_group","name":"Group 4","tab":"22b4ce47f3ca3922","order":4,"disp":true,"width":6},{"id":"f89f42096d86cd36","type":"ui_group","name":"Group 1","tab":"ec394a8932e81841","order":1,"disp":true,"width":6},{"id":"4a345c93e211dfac","type":"ui_group","name":"Group 2","tab":"ec394a8932e81841","order":2,"disp":true,"width":6},{"id":"463364a07f5211e9","type":"ui_group","name":"Group 3","tab":"ec394a8932e81841","order":3,"disp":true,"width":6},{"id":"cec714bb4d5242b4","type":"ui_group","name":"Group 4","tab":"ec394a8932e81841","order":4,"disp":true,"width":6},{"id":"22b4ce47f3ca3922","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"ec394a8932e81841","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]